<!DOCTYPE html>
<html>
  <head>
    <title>Kickstaterlikeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
